/* Support both root and body application of high contrast */
html.high-contrast,
body.high-contrast {
	--color-primary-50: #000000;
	--color-primary-100: #000000;
	--color-primary-200: #000000;
	--color-primary-300: #000000;
	--color-primary-400: #000000;
	--color-primary-500: #ffffff;
	--color-primary-600: #ffffff;
	--color-primary-700: #ffffff;
	--color-primary-800: #ffffff;
	--color-primary-900: #ffffff;

	--color-secondary-50: #000000;
	--color-secondary-100: #000000;
	--color-secondary-200: #000000;
	--color-secondary-300: #000000;
	--color-secondary-400: #000000;
	--color-secondary-500: #ffffff;
	--color-secondary-600: #ffffff;
	--color-secondary-700: #ffffff;
	--color-secondary-800: #ffffff;
	--color-secondary-900: #ffffff;

	--color-state-success: #00ff00;
	--color-state-warning: #ffff00;
	--color-state-error: #ff0000;
	--color-state-info: #0000ff;

	--color-surface-background: #000000;
	--color-surface-card: #000000;
	--color-surface-border: #ffffff;
	--color-surface-divider: #ffffff;

	--color-text-primary: #ffffff;
	--color-text-secondary: #ffffff;
	--color-text-tertiary: #ffffff;
	--color-text-inverse: #000000;
	--color-text-accent: #00ff00;
}
